<h1>Welcome to the Railway Statiion Application!</h1>
<p>find more info below:</p>
<ul>
  <li><%= link_to "Railway Stations list", railway_stations_path %></li>
  <li><%= link_to "Trains list", trains_path %></li>
  <li><%= link_to "Routes list", routes_path %></li>
</ul>    
