<h1>Welcome to the Railway Statiion Application!</h1>
<p>find more info below:</p>
<ul>
  <li><%= link_to "Railway Stations list", admin_railway_stations_path %></li>
  <li><%= link_to "Trains list", admin_trains_path %></li>
  <li><%= link_to "Routes list", admin_routes_path %></li>
  <li><%= link_to "Search for tickets", search_path %></li>
</ul>    
